### RFM ë¶„ì„
####  ì‚¬ìš©ìë³„ë¡œ ì–¼ë§ˆë‚˜ ìµœê·¼ì—, ì–¼ë§ˆë‚˜ ìì£¼, ì–¼ë§ˆë‚˜ ë§ì€ ê¸ˆì•¡ì„ ì§€ì¶œí–ˆëŠ”ì§€ì— ë”°ë¼ ì‚¬ìš©ìë“¤ì˜ ë¶„í¬ë¥¼ í™•ì¸í•  ìˆ˜ ìˆê³ , ì‚¬ìš©ì ê·¸ë£¹(ë˜ëŠ” ë“±ê¸‰)ì„ ë‚˜ëˆ„ì–´ ë¶„ë¥˜í•˜ëŠ” ë¶„ì„ ê¸°ë²•ì´ë‹¤. êµ¬ë§¤ ê°€ëŠ¥ì„±ì´ ë†’ì€ ê³ ê°ì„ ì„ ì •í•  ë•Œ ìš©ì´í•œ ë°ì´í„° ë¶„ì„ ë°©ë²•ì´ë©°, ì‚¬ìš©ìë“¤ì˜ í‰ì†Œ êµ¬ë§¤ íŒ¨í„´ì„ ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¥˜ë¥¼ ì§„í–‰í•˜ê¸° ë•Œë¬¸ì— ê° ì‚¬ìš©ì ê·¸ë£¹ì˜ íŠ¹ì„±ì— ë”°ë¼ ì°¨ë³„í™”ëœ ë§ˆì¼€íŒ… ë©”ì„¸ì§€ë¥¼ ì „ë‹¬í•  ìˆ˜ ìˆë‹¤.

- Recency : ì–¼ë§ˆë‚˜ ìµœê·¼ì— êµ¬ë§¤í–ˆëŠ”ê°€
- Frequency : ì–¼ë§ˆë‚˜ ìì£¼ êµ¬ë§¤í–ˆëŠ”ê°€
- Monetary : ì–¼ë§ˆë‚˜ ë§ì€ ê¸ˆì•¡ì„ ì§€ì¶œí–ˆëŠ”ê°€

### ê³ ê° ë¶„ì„
- CustomerID: ê³ ê° ë²ˆí˜¸
- PurchaseDate: êµ¬ë§¤ ë‚ ì§œ
- TransactionAmount: ê²°ì œ ê¸ˆì•¡ 
- ProductInformation: ìƒí’ˆ ì •ë³´
- OrderID: ì£¼ë¬¸ ë²ˆí˜¸
- Location: ì£¼ë¬¸ ì§€ì—­

In [208]:
import pandas as pd
path = './datasets/customer_order_data.csv'
customer_order_df = pd.read_csv(path)
customer_order_df
# customer_order_df.sort_values('CustomerID')

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location
0,8814,2023-04-11,943.31,Product C,890075,Tokyo
1,2188,2023-04-11,463.70,Product A,176819,London
2,4608,2023-04-11,80.28,Product A,340062,New York
3,2559,2023-04-11,221.29,Product A,239145,London
4,9482,2023-04-11,739.56,Product A,194545,Paris
...,...,...,...,...,...,...
995,2970,2023-06-10,759.62,Product B,275284,London
996,6669,2023-06-10,941.50,Product C,987025,New York
997,8836,2023-06-10,545.36,Product C,512842,London
998,1440,2023-06-10,729.94,Product B,559753,Paris
999,4759,2023-06-10,804.28,Product D,467544,New York

In [209]:
customer_order_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          1000 non-null   int64
 1   PurchaseDate        1000 non-null   object
 2   TransactionAmount   1000 non-null   float64
 3   ProductInformation  1000 non-null   object
 4   OrderID             1000 non-null   int64
 5   Location            1000 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 47.0+ KB

### ê²°ì¸¡ì¹˜ ê²€ì‚¬
ğŸ“Œê²°ì¸¡ì¹˜: ê°’ì´ ì—†ëŠ” ê²ƒ, Null ë˜ëŠ” NAë¡œ í‘œí˜„.

In [210]:
customer_order_df.isnull().sum()

CustomerID            0
PurchaseDate          0
TransactionAmount     0
ProductInformation    0
OrderID               0
Location              0
dtype: int64

### ì¤‘ë³µ í–‰ ê²€ì‚¬

In [211]:
customer_order_df.duplicated().sum()

0

### ë°ì´í„° ì „ì²˜ë¦¬
1. R ë™ì¼í•œ ê³ ê°ì¤‘ Recencyê°’ì´ ì œì¼ ë†’ì€ê±¸ ì¶”ì¶œí•˜ê¸°
2. F ë°ì´í„°ì¤‘ ë™ì¼í•œ ê³ ê°ID ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ ì¶”ì¶œ
3. M ë°ì´í„°ì¤‘ ë™ì¼í•œ ê³ ê° ê²°ì œê¸ˆì•¡ì„ ë”í•˜ì—¬ ì¶”ì¶œ

In [212]:
#1. R ë™ì¼í•œ ê³ ê°ì¤‘ Recencyê°’ì´ ì œì¼ ë†’ì€ê±¸ ì¶”ì¶œí•˜ê¸°

rfm_customer_order_df = customer_order_df.groupby('CustomerID')['PurchaseDate'].max().reset_index()
today = '2023-10-04'
today = pd.to_datetime(today)

rfm_customer_order_df['Recency'] = today - pd.to_datetime(rfm_customer_order_df['PurchaseDate'])
rfm_customer_order_df['Recency'] = rfm_customer_order_df['Recency'].astype('int64') // 1000000000 // 60 // 60 // 24
rfm_customer_order_df

     CustomerID PurchaseDate  Recency
0          1011   2023-05-08      149
1          1025   2023-05-20      137
2          1029   2023-06-10      116
3          1046   2023-04-28      159
4          1049   2023-05-28      129
..          ...          ...      ...
941        9941   2023-04-29      158
942        9950   2023-05-03      154
943        9954   2023-05-29      128
944        9985   2023-04-14      173
945        9991   2023-05-11      146

[946 rows x 3 columns]

In [213]:
# F ë°ì´í„°ì¤‘ ë™ì¼í•œ ê³ ê°ID ê°¯ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ ì¶”ì¶œ

customer_order_df['Frequency'] = customer_order_df.value_counts('CustomerID')
rfm_customer_order_df["Frequency"] = customer_order_df[['CustomerID']].value_counts(sort=False).reset_index()[['count']]
rfm_customer_order_df

     CustomerID PurchaseDate  Recency  Frequency
0          1011   2023-05-08      149          2
1          1025   2023-05-20      137          1
2          1029   2023-06-10      116          1
3          1046   2023-04-28      159          1
4          1049   2023-05-28      129          1
..          ...          ...      ...        ...
941        9941   2023-04-29      158          1
942        9950   2023-05-03      154          1
943        9954   2023-05-29      128          1
944        9985   2023-04-14      173          1
945        9991   2023-05-11      146          1

[946 rows x 4 columns]

In [214]:
# 3. M ë°ì´í„°ì¤‘ ë™ì¼í•œ ê³ ê° ê²°ì œê¸ˆì•¡ì„ ë”í•˜ì—¬ ì¶”ì¶œ
# rfm_customer_order_df['Monetary'] = customer_order_df.groupby('CustomerID').sum().reset_index()[['TransactionAmount']]

rfm_customer_order_df = rfm_customer_order_df[['Recency','Frequency', 'Monetary']]
rfm_customer_order_df

KeyError: "['Monetary'] not in index"

### ì •ê·œí™”(Normalization)
ê°’ì˜ ë²”ìœ„ë¥¼ 0~1ì‚¬ì´ë¡œ ë³€í™˜ì‹œì¼œ ëª¨ë“  ì»¬ëŸ¼ì˜ ë°ì´í„°ê°€ í‰ë“±í•˜ê²Œ ë§Œë“¤ì–´ì¤€ë‹¤.  
ì„œë¡œ ë‹¤ë¥¸ ë‹¨ìœ„ì˜ ê°’ì€ ë¹„êµëŒ€ìƒì´ ë  ìˆ˜ ì—†ë‹¤. ì˜ˆë¥¼ ë“¤ì–´, 80kgê³¼ 180cmëŠ” ë¹„êµí•  ìˆ˜ ì—†ê¸°ì— ì •ê·œí™”ë¥¼ ì‚¬ìš©í•˜ì—¬ ë¹„êµí•œë‹¤.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

normalization = MinMaxScaler()
rfm_normalization = normalization.fit_transform(rfm_customer_order_df)
rfm_normalization = pd.DataFrame(rfm_normalization, columns=['Recency', 'Frequency', 'Monetary'])
display(rfm_normalization)

In [ ]:
# conda install -c districtdatalabs yellowbrick
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import AgglomerativeClustering

model = AgglomerativeClustering()

# k_elbow_visualizer = KElbowVisualizer(model, k=(3, 9), timings=True)
k_elbow_visualizer = KElbowVisualizer(model, k=(1, 20), timings=False)
k_elbow_visualizer.fit(rfm_normalization)

k_elbow_visualizer.show()

In [ ]:
agglomerative_clustering = AgglomerativeClustering(n_clusters=4).fit(rfm_normalization)
rfm_customer_order_df.loc[:, 'cluster'] = agglomerative_clustering.labels_
rfm_customer_order_df.loc[:, 'cluster'].value_counts()

In [ ]:
rfm_customer_order_df

### ì‹œê°í™”
- matplotlibë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ì‹œê°í™”í•  ìˆ˜ ìˆê³  ì´ë¥¼ í†µí•´ í•œ ëˆˆì— ë³¼ ìˆ˜ ì—†ëŠ” ë§ì€ ë°ì´í„°ë¥¼ í•œ ëˆˆì— ë³¼ ìˆ˜ ìˆë‹¤.
- ë°ì´í„° ë¶„ì„ì— ëŒ€í•œ ì „ë¬¸ ì§€ì‹ì´ ì—†ëŠ” ì¼ë°˜ì¸ë„ ì´í•´í•  ìˆ˜ ìˆë‹¤.
- ë™ì¼í•œ í†µê³„ë¥¼ ê°€ì§€ê³  ìˆë”ë¼ë„, ì‹œê°í™” ì‹œ ë³€í™”ë‚˜ íŒ¨í„´ì´ ë‹¤ë¥¼ ìˆ˜ ìˆë‹¤.

In [ ]:
customer_order_df['cluster'] = rfm_customer_order_df['cluster'].replace([0, 1, 2, 3], ['Gold', 'Bronze', 'VIP', 'Silver'])
customer_order_df.sort_values('CustomerID')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
order = ['Gold', 'Silver', 'Bronze', 'VIP']
sns.countplot(x='cluster', data=customer_order_df, palette='muted', order=order)