### RFM 분석
####  사용자별로 얼마나 최근에, 얼마나 자주, 얼마나 많은 금액을 지출했는지에 따라 사용자들의 분포를 확인할 수 있고, 사용자 그룹(또는 등급)을 나누어 분류하는 분석 기법이다. 구매 가능성이 높은 고객을 선정할 때 용이한 데이터 분석 방법이며, 사용자들의 평소 구매 패턴을 기준으로 분류를 진행하기 때문에 각 사용자 그룹의 특성에 따라 차별화된 마케팅 메세지를 전달할 수 있다.

- Recency : 얼마나 최근에 구매했는가
- Frequency : 얼마나 자주 구매했는가
- Monetary : 얼마나 많은 금액을 지출했는가

### 고객 분석
- CustomerID: 고객 번호
- PurchaseDate: 구매 날짜
- TransactionAmount: 결제 금액 
- ProductInformation: 상품 정보
- OrderID: 주문 번호
- Location: 주문 지역

In [208]:
import pandas as pd
path = './datasets/customer_order_data.csv'
customer_order_df = pd.read_csv(path)
customer_order_df
# customer_order_df.sort_values('CustomerID')

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location
0,8814,2023-04-11,943.31,Product C,890075,Tokyo
1,2188,2023-04-11,463.70,Product A,176819,London
2,4608,2023-04-11,80.28,Product A,340062,New York
3,2559,2023-04-11,221.29,Product A,239145,London
4,9482,2023-04-11,739.56,Product A,194545,Paris
...,...,...,...,...,...,...
995,2970,2023-06-10,759.62,Product B,275284,London
996,6669,2023-06-10,941.50,Product C,987025,New York
997,8836,2023-06-10,545.36,Product C,512842,London
998,1440,2023-06-10,729.94,Product B,559753,Paris
999,4759,2023-06-10,804.28,Product D,467544,New York

In [209]:
customer_order_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          1000 non-null   int64
 1   PurchaseDate        1000 non-null   object
 2   TransactionAmount   1000 non-null   float64
 3   ProductInformation  1000 non-null   object
 4   OrderID             1000 non-null   int64
 5   Location            1000 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 47.0+ KB

### 결측치 검사
📌결측치: 값이 없는 것, Null 또는 NA로 표현.

In [210]:
customer_order_df.isnull().sum()

CustomerID            0
PurchaseDate          0
TransactionAmount     0
ProductInformation    0
OrderID               0
Location              0
dtype: int64

### 중복 행 검사

In [211]:
customer_order_df.duplicated().sum()

0

### 데이터 전처리
1. R 동일한 고객중 Recency값이 제일 높은걸 추출하기
2. F 데이터중 동일한 고객ID 갯수를 구하여 추출
3. M 데이터중 동일한 고객 결제금액을 더하여 추출

In [212]:
#1. R 동일한 고객중 Recency값이 제일 높은걸 추출하기

rfm_customer_order_df = customer_order_df.groupby('CustomerID')['PurchaseDate'].max().reset_index()
today = '2023-10-04'
today = pd.to_datetime(today)

rfm_customer_order_df['Recency'] = today - pd.to_datetime(rfm_customer_order_df['PurchaseDate'])
rfm_customer_order_df['Recency'] = rfm_customer_order_df['Recency'].astype('int64') // 1000000000 // 60 // 60 // 24
rfm_customer_order_df

     CustomerID PurchaseDate  Recency
0          1011   2023-05-08      149
1          1025   2023-05-20      137
2          1029   2023-06-10      116
3          1046   2023-04-28      159
4          1049   2023-05-28      129
..          ...          ...      ...
941        9941   2023-04-29      158
942        9950   2023-05-03      154
943        9954   2023-05-29      128
944        9985   2023-04-14      173
945        9991   2023-05-11      146

[946 rows x 3 columns]

In [213]:
# F 데이터중 동일한 고객ID 갯 수를 구하여 추출

customer_order_df['Frequency'] = customer_order_df.value_counts('CustomerID')
rfm_customer_order_df["Frequency"] = customer_order_df[['CustomerID']].value_counts(sort=False).reset_index()[['count']]
rfm_customer_order_df

     CustomerID PurchaseDate  Recency  Frequency
0          1011   2023-05-08      149          2
1          1025   2023-05-20      137          1
2          1029   2023-06-10      116          1
3          1046   2023-04-28      159          1
4          1049   2023-05-28      129          1
..          ...          ...      ...        ...
941        9941   2023-04-29      158          1
942        9950   2023-05-03      154          1
943        9954   2023-05-29      128          1
944        9985   2023-04-14      173          1
945        9991   2023-05-11      146          1

[946 rows x 4 columns]

In [214]:
# 3. M 데이터중 동일한 고객 결제금액을 더하여 추출
# rfm_customer_order_df['Monetary'] = customer_order_df.groupby('CustomerID').sum().reset_index()[['TransactionAmount']]

rfm_customer_order_df = rfm_customer_order_df[['Recency','Frequency', 'Monetary']]
rfm_customer_order_df

KeyError: "['Monetary'] not in index"

### 정규화(Normalization)
값의 범위를 0~1사이로 변환시켜 모든 컬럼의 데이터가 평등하게 만들어준다.  
서로 다른 단위의 값은 비교대상이 될 수 없다. 예를 들어, 80kg과 180cm는 비교할 수 없기에 정규화를 사용하여 비교한다.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

normalization = MinMaxScaler()
rfm_normalization = normalization.fit_transform(rfm_customer_order_df)
rfm_normalization = pd.DataFrame(rfm_normalization, columns=['Recency', 'Frequency', 'Monetary'])
display(rfm_normalization)

In [ ]:
# conda install -c districtdatalabs yellowbrick
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import AgglomerativeClustering

model = AgglomerativeClustering()

# k_elbow_visualizer = KElbowVisualizer(model, k=(3, 9), timings=True)
k_elbow_visualizer = KElbowVisualizer(model, k=(1, 20), timings=False)
k_elbow_visualizer.fit(rfm_normalization)

k_elbow_visualizer.show()

In [ ]:
agglomerative_clustering = AgglomerativeClustering(n_clusters=4).fit(rfm_normalization)
rfm_customer_order_df.loc[:, 'cluster'] = agglomerative_clustering.labels_
rfm_customer_order_df.loc[:, 'cluster'].value_counts()

In [ ]:
rfm_customer_order_df

### 시각화
- matplotlib를 사용하여 데이터를 시각화할 수 있고 이를 통해 한 눈에 볼 수 없는 많은 데이터를 한 눈에 볼 수 있다.
- 데이터 분석에 대한 전문 지식이 없는 일반인도 이해할 수 있다.
- 동일한 통계를 가지고 있더라도, 시각화 시 변화나 패턴이 다를 수 있다.

In [ ]:
customer_order_df['cluster'] = rfm_customer_order_df['cluster'].replace([0, 1, 2, 3], ['Gold', 'Bronze', 'VIP', 'Silver'])
customer_order_df.sort_values('CustomerID')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
order = ['Gold', 'Silver', 'Bronze', 'VIP']
sns.countplot(x='cluster', data=customer_order_df, palette='muted', order=order)