### RFM Î∂ÑÏÑù
####  ÏÇ¨Ïö©ÏûêÎ≥ÑÎ°ú ÏñºÎßàÎÇò ÏµúÍ∑ºÏóê, ÏñºÎßàÎÇò ÏûêÏ£º, ÏñºÎßàÎÇò ÎßéÏùÄ Í∏àÏï°ÏùÑ ÏßÄÏ∂úÌñàÎäîÏßÄÏóê Îî∞Îùº ÏÇ¨Ïö©ÏûêÎì§Ïùò Î∂ÑÌè¨Î•º ÌôïÏù∏Ìï† Ïàò ÏûàÍ≥†, ÏÇ¨Ïö©Ïûê Í∑∏Î£π(ÎòêÎäî Îì±Í∏â)ÏùÑ ÎÇòÎàÑÏñ¥ Î∂ÑÎ•òÌïòÎäî Î∂ÑÏÑù Í∏∞Î≤ïÏù¥Îã§. Íµ¨Îß§ Í∞ÄÎä•ÏÑ±Ïù¥ ÎÜíÏùÄ Í≥†Í∞ùÏùÑ ÏÑ†Ï†ïÌï† Îïå Ïö©Ïù¥Ìïú Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Î∞©Î≤ïÏù¥Î©∞, ÏÇ¨Ïö©ÏûêÎì§Ïùò ÌèâÏÜå Íµ¨Îß§ Ìå®ÌÑ¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Î∂ÑÎ•òÎ•º ÏßÑÌñâÌïòÍ∏∞ ÎïåÎ¨∏Ïóê Í∞Å ÏÇ¨Ïö©Ïûê Í∑∏Î£πÏùò ÌäπÏÑ±Ïóê Îî∞Îùº Ï∞®Î≥ÑÌôîÎêú ÎßàÏºÄÌåÖ Î©îÏÑ∏ÏßÄÎ•º Ï†ÑÎã¨Ìï† Ïàò ÏûàÎã§.

- Recency : ÏñºÎßàÎÇò ÏµúÍ∑ºÏóê Íµ¨Îß§ÌñàÎäîÍ∞Ä
- Frequency : ÏñºÎßàÎÇò ÏûêÏ£º Íµ¨Îß§ÌñàÎäîÍ∞Ä
- Monetary : ÏñºÎßàÎÇò ÎßéÏùÄ Í∏àÏï°ÏùÑ ÏßÄÏ∂úÌñàÎäîÍ∞Ä

### Í≥†Í∞ù Î∂ÑÏÑù

- InvoiceNo           :Ï£ºÎ¨∏Î≤àÌò∏
- StockCode           :ÏÉÅÌíà ÏΩîÎìú
- Description         :Ï†úÌíà ÏÑ§Î™Ö
- Quantity            :ÏàòÎüâ
- InvoiceDate         :Ï£ºÎ¨∏ ÎÇ†Ïßú
- UnitPrice           :Îã®Í∞Ä
- CustomerID          :Í≥†Ïú† ÏïÑÏù¥Îîî
- Country             :Ï£ºÎ¨∏ ÏßÄÏó≠

In [11]:
import pandas as pd

customer_invoice_df = pd.read_csv('./datasets/customer_invoice_data.csv')
customer_invoice_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [13]:
customer_invoice_df[customer_invoice_df['Description'].isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535322,581199,84581,NaN,-2,12/7/2011 18:26,0.0,NaN,United Kingdom
535326,581203,23406,NaN,15,12/7/2011 18:31,0.0,NaN,United Kingdom
535332,581209,21620,NaN,6,12/7/2011 18:35,0.0,NaN,United Kingdom
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom

In [5]:
customer_invoice_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

### Í≤∞Ï∏°Ïπò Í≤ÄÏÇ¨
üìåÍ≤∞Ï∏°Ïπò: Í∞íÏù¥ ÏóÜÎäî Í≤É, Null ÎòêÎäî NAÎ°ú ÌëúÌòÑ.

In [9]:
customer_invoice_df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64